%btn {
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  text-decoration: none;
  color: $white;
  font-size: 0.9em;
  font-weight: normal;
  padding: 0.8em;
  border: 0;
  cursor: pointer;
  @include transition(all 0.2s ease-out);

  &:hover,
  &:focus {
    color: $white;
    text-decoration: none;
  }

  &:active {
    top: 1px;
  }
}

.black-btn {
  @extend %btn;
  background-color: lighten($black, 20%);

  &:hover,
  &:focus {
    background-color: lighten($black, 4%);
  }

  &:active {
    background-color: lighten($black, 5%);
  }
}

%whitelink {
  color: $white;

  &:hover,
  &:focus {
    color: darken($white, 10%);
  }

  &:link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  }
}

%lightlink {
  color: lighten($link-color, 15%);

  &:hover,
  &:focus {
    color: lighten($link-hover, 15%);
  }
}

%whitebtn {
  @extend %btn;
  background-color: darken($white, 10%);
  color: $black;

  &:hover,
  &:focus,
  &:active {
    background-color: $white;
    color: $black;
  }
}

%linkbtn {
  @extend %btn;
  background-color: $link-color;
  color: lighten($link-color, 50%);

  &:hover,
  &:focus,
  &:active {
    background-color: $link-hover;
    color: black(0.8) !important;
  }
}

.blue-btn {
  @extend %btn;
  background-color: $blue;

  &:hover,
  &:focus {
    background-color: lighten($blue, 4%);
  }

  &:active {
    background-color: lighetn($blue, 5%);
  }
}
