/******************************************************************
Site Name: Juan Camilo Gonz&aacute;lez
Author: Juan Camilo Gonz&aacute;lez

Stylesheet: Sass Functions

For more info on functions, go here:
http://sass-lang.com/documentation/Sass/Script/Functions.html

******************************************************************/


/*********************
COLOR FUNCTIONS
These are helpful when you're working
with shadows and such things. It's essentially
a quicker way to write RGBA.

Example:
box-shadow: 0 0 4px black(0.3);
compiles to:
box-shadow: 0 0 4px rgba(0,0,0,0.3);
*********************/

// black
@function black($opacity) {
  @return rgba(0,0,0,$opacity);
}

// white
@function white($opacity) {
  @return rgba(255,255,255,$opacity);
}

// CATEGORIES

// Process
@function process($opacity) {
  @return rgba(236, 217, 61, $opacity); // #ecd93d yellow
}

// Reference
@function reference($opacity) {
  @return rgba(196, 89, 86, $opacity); // #c45956 red
}

// Inspiration
@function inspiration($opacity) {
  @return rgba(86, 188, 122, $opacity); // #56bc7a green
}


/*********************
RESPONSIVE HELPER FUNCTION
If you're creating a responsive site, then
you've probably already read
Responsive Web Design: http://www.abookapart.com/products/responsive-web-design

Here's a nice little helper function for calculating
target / context
as mentioned in that book.

Example:
width: cp(650px, 1000px);
or
width: calc-percent(650px, 1000px);
both compile to:
width: 65%;
*********************/

@function cp($target, $container) {
  @return calc-percent($target, $container);
}