$alert-yellow:  #ebe16f;
$alert-red:     #fbe3e4;
$alert-green:   #e6efc2;
$alert-blue:    #d5edf8;

$black:         #1f1f1f;
$white:         #fff;

$light-gray:    #f8f9fa;
$gray:          #eaedf2;
$text-color:    #333;
$meta-gray:     #9fa6b4;
$tan:           #eceee5;
$green:         #7dd667;
$blue:          #2980b9;
$dark-blue:     #63829A;

$link-color:    #8c7c3d;
$link-hover:    lighten($link-color, 20%);

$border-color:  #ccc;
$disabled-gray: #cfcfcf;
$sans-serif:    "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$sans-serif2:   "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:         "Georgia", Cambria, Times New Roman, Times, serif;
