/******************************************************************
Site Name: Juan Camilo Gonz&aacute;lez
Author: Juan Camilo Gonz&aacute;lez

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name: Juan Camilo Gonz&aacute;lez
Author: Juan Camilo Gonz&aacute;lez

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/******************************************************************
Site Name: Juan Camilo Gonz&aacute;lez
Author: Juan Camilo Gonz&aacute;lez

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name: Juan Camilo Gonz&aacute;lez
Author: Juan Camilo Gonz&aacute;lez

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name: Juan Camilo Gonz&aacute;lez
Author: Juan Camilo Gonz&aacute;lez

Stylesheet: 481px and Up Stylesheet

******************************************************************/
/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/
/*********************
NAVIGATION STYLES
*********************/
.menu {
  /* end .menu ul */ }
  .menu ul {
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */ }
    .menu ul li {
      /*
      plan your menus and drop-downs wisely.
      */ }
      .menu ul li a {
        /*
        you can use hover styles here even though this size
        has the possibility of being a mobile device.
        */ }

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content {
  /* at this larger size, we can start to align images */ }
  .entry-content .alignleft, .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left; }
  .entry-content .alignright, .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right; }
  .entry-content .aligncenter, .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both; }

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************
Site Name: Juan Camilo Gonz&aacute;lez
Author: Juan Camilo Gonz&aacute;lez

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/
/*********************
HEADER STYLES
*********************/
.menu {
  position: fixed;
  height: 100%;
  border-right: 1px dotted; }
  .menu #logo {
    display: block;
    text-align: center; }

/*********************
NAVIGATION STYLES
*********************/
.nav {
  text-align: left;
  width: 90%;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */ }
  .nav li {
    display: block;
    position: relative;
    /*
    plan your menus and drop-downs wisely.
    */
    /* showing sub-menus */ }
    .nav li.menu-item-has-children:after {
      content: '\002B';
      position: absolute;
      right: 0;
      top: 0.8em;
      width: 0;
      height: 0; }
    .nav li ul.sub-menu,
    .nav li ul.children {
      border-top: 0;
      z-index: 8999;
      font-size: 0.7em;
      text-align: center;
      letter-spacing: 1px;
      background-color: black(1);
      font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      display: block;
      left: -999em;
      /* highlight sub-menu current page */ }
      .nav li ul.sub-menu li a, .nav li ul.sub-menu li a:visited,
      .nav li ul.children li a,
      .nav li ul.children li a:visited {
        display: block;
        width: 180px;
        border-bottom: 1px dotted white(0.2);
        color: #eaedf2;
        padding: 1em; }
        .nav li ul.sub-menu li a:hover, .nav li ul.sub-menu li a:focus, .nav li ul.sub-menu li a:visited:hover, .nav li ul.sub-menu li a:visited:focus,
        .nav li ul.children li a:hover,
        .nav li ul.children li a:focus,
        .nav li ul.children li a:visited:hover,
        .nav li ul.children li a:visited:focus {
          color: #d1d7e2;
          background-color: #1f1f1f; }
      .nav li ul.sub-menu li:last-child a,
      .nav li ul.children li:last-child a {
        border-bottom: 0; }
      .nav li ul.sub-menu:before,
      .nav li ul.children:before {
        content: '';
        position: absolute;
        left: -1.9em;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 1em 2em 1em 0;
        border-color: transparent #000000 transparent transparent; }
    .nav li:hover ul {
      left: 90%; }

/* end .nav */
/*********************
CONTENT
*********************/
#content {
  display: table;
  margin-bottom: -200px;
  padding-bottom: 200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  #content #main, #content .sidebar {
    display: table-cell; }

.entry-content {
  font-size: 1.3em; }
  .entry-content p {
    width: 70%; }

.commentlist {
  width: 70%; }

img.jcg-fullwidth {
  width: 100%;
  height: auto; }

.jcg-gallery {
  background-color: #1f1f1f;
  margin: 2em 0;
  position: relative; }
  .jcg-gallery .jcg-loading-image {
    position: absolute;
    color: white;
    text-align: center;
    left: 50%;
    top: 50%;
    z-index: 2; }
  .jcg-gallery .jcg-gallery-image-container {
    float: right;
    width: 96%;
    text-align: center;
    z-index: 99999;
    position: relative; }
  .jcg-gallery a {
    display: block;
    line-height: 0;
    border: 3px solid;
    max-width: 4%; }
    .jcg-gallery a img {
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0; }
    .jcg-gallery a.current {
      border: 3px dotted #c0b06f;
      cursor: default; }

/*********************
		    FILMS
*********************/
#video-container {
  background: #000;
  background-image: -webkit-radial-gradient(center, circle cover, #222222 0%, black 85%);
  background-image: -moz-radial-gradient(center, circle cover, #222222 0%, black 85%);
  background-image: -o-radial-gradient(center, circle cover, #222222 0%, black 85%);
  background-image: radial-gradient(center, circle cover, #222222 0%, black 85%); }

.film-description .film-synopsis {
  padding: 0 25%; }

/*********************
SIDEBARS & ASIDES
*********************/
.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em; }

.widget {
  padding: 0 10px;
  margin: 2.2em 0; }
  .widget ul li {
    margin-bottom: 0.75em;
    /* deep nesting */ }
    .widget ul li ul {
      margin-top: 0.75em;
      padding-left: 1em; }

/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links ul li {
  /*
  be careful with the depth of your menus.
  it's very rare to have multi-depth menus in
  the footer.
  */ }

/* end .footer-links */
/******************************************************************
Site Name: Juan Camilo Gonz&aacute;lez
Author: Juan Camilo Gonz&aacute;lez

Stylesheet: Desktop Stylsheet

******************************************************************/
.film-header #video-container iframe {
  left: 50%;
  margin-left: -406px; }

/*********************
		CONTACT
*********************/
#contact-wrapper {
  width: 50%; }

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
