%btn {
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  text-decoration: none;
  color: $white;
  font-size: .9em;
  font-weight: normal;
  padding: .8em;
  border: 0;
  cursor: pointer;
  @include transition(background-color .14s ease-in-out);

  &:hover,
  &:focus {
    color: $white;
    text-decoration: none;
  }

  &:active {
    top: 1px;
  }
}

.black-btn {
  @extend %btn;
  background-color: $black;

  &:hover,
  &:focus {
    background-color: lighten($black, 4%);
  }

  &:active {
    background-color: lighetn($black, 5%);
  }
}

.blue-btn {
  @extend %btn;
  background-color: $blue;

  &:hover,
  &:focus {
    background-color: lighten($blue, 4%);
  }

  &:active {
    background-color: lighetn($blue, 5%);
  }
}
