/******************************************************************
  Site Name: JCG
  Site URI: http://juancgonzalez.com
  Author: Juan Camilo Gonzalez
  1030-UP STYLES
******************************************************************/
$wrap: 70%;
$wrap-w: 80%;
$wrap-half: 15%;

.contact-aside {
  font-size: .9vw;
}

/*===============================
=            CONTACT            =
===============================*/
#contact-wrapper {
  width: $wrap;
}

/*-----  End of CONTACT  ------*/

/*===============================
=            CONTENT            =
===============================*/
#content {

  .entry-content,
  .mce-content-body {

    h2 {
      width: 50%;
    }

    iframe {
      height: 500px;
    }
  }
}

#posts-list {
  .hentry {
    .entry-excerpt {
      display: inline-block;
      vertical-align: top;
      padding-left: 1.5em;
    }
  }
}

.comment-respond {
  width: $wrap-w;
}

/*-----  End of CONTENT  ------*/

/*=============================
=            ABOUT            =
=============================*/
.page-template-page-about {
  #about-content {
    width: 60%;
  }
}

/*-----  End of ABOUT  ------*/