/******************************************************************
 * Site Name: JCG
 * Site URI: http://juancgonzalez.com
 * Author: Juan Camilo Gonzalez

 * 1030-UP STYLES
 ******************************************************************/
$wrap: 50%;
$wrapW: 60%;
$wrapHalf: 25%;

/*=============================
=            FILMS            =
=============================*/

.type-films {

  .film-header {

    #video-container {
      iframe {
        left: 50%;
        margin-left: -406px;
      }
    }

  }
}

/*-----  End of FILMS  ------*/



/*===============================
=            CONTACT            =
===============================*/

#contact-wrapper {
  width: $wrap;
}

/*-----  End of CONTACT  ------*/


/*===============================
=            CONTENT            =
===============================*/

#content {

  .entry-content, .mce-content-body {
    iframe {
      height: 500px;
    }
  }

}

/*-----  End of CONTENT  ------*/