/******************************************************************
Site Name: Juan Camilo Gonz&aacute;lez
Author: Juan Camilo Gonz&aacute;lez

Stylesheet: Desktop Stylsheet

******************************************************************/
.film-header{
	#video-container{
		iframe{
			left: 50%;
			margin-left: -406px;
		}
	}
}
/*********************
		CONTACT
*********************/
#contact-wrapper{
	width: 50%;
}
