/******************************************************************
Site Name: Juan Camilo Gonz&aacute;lez
Author: Juan Camilo Gonz&aacute;lez

Stylesheet: Desktop Stylsheet

******************************************************************/
$wrap: 50%;
$wrapW: 60%;
$wrapHalf: 25%;

.film-header{
	#video-container{
		iframe{
			left: 50%;
			margin-left: -406px;
		}
	}
}
/*********************
		CONTACT
*********************/
#contact-wrapper{
	width: $wrap;
}

.hentry {
	iframe {
	  // padding: 1em $wrapHalf;
	  height: 500px;
	}
}