/******************************************************************
  Site Name: JCG
  Site URI: http://juancgonzalez.com
  Author: Juan Camilo Gonzalez
  1240-UP STYLES
******************************************************************/
$wrap: 70%;
$wrap-w: 80%;
$wrap-half: 15%;

#content {
  /*==========  POST CONTENT SECTION  ==========*/
  .entry-content,
  .mce-content-body {
    h2 {
      width: 35%;
    }

    p {
      width: $wrap;
    }

    blockquote {
      width: $wrap-w;
    }

    iframe {
      padding: 0 $wrap-half;
      height: 500px;
    }

    img {
      padding: 0 $wrap-half;
    }

    .wp-caption {
      width: $wrap!important;
    }
  }

  /*==========  POST FOOTER  ==========*/
  .entry-footer {
    text-align: center;
  }

  /*==========  COMMENTS  ==========*/
  .commentlist {
    width: $wrap-w;
  }

  .comment-respond {
    width: $wrap-w;
  }

  /*==========  TABLES  ==========*/
  table {
    font-size: 100%;
  }
}

.contact-aside {
  font-size: .8vw;
}

/*===================================
=            SINGLE POST            =
===================================*/
.post-nav-full {
  .link-title {
    display: block;
    position: absolute;
    width: 100%;
    background-color: black(.6);
    font-size: .85em;
    letter-spacing: 1px;
    text-align: center;
    top: 1.6em;
    margin: 0;
    padding: 0;

    a,
    a:visited {
      color: lighten($link-color, 40%);

      &:hover,
      &:focus {
        color: $white;
      }
    }
  }
}
/*-----  End of SINGLE POST  ------*/

/*=============================
=            FILMS            =
=============================*/
#video-container {
  iframe {
    left: 50%;
    margin-left: -515px;
  }
}
/*-----  End of FILMS  ------*/

/*===================================
=            EXPERIMENTS            =
===================================*/
.post-type-archive-experiments {
  #posts-list {

    .hentry {
      header {
        .post-image {
          img {
            width: 70%;
          }

        }
      }

    }
  }
}
/*-----  End of EXPERIMENTS  ------*/



/*=============================
=            ABOUT            =
=============================*/
.page-template-page-about {
  #profile {
    #portrait {
      width: 30%;
    }

    #about-info {
      width: 70%;
    }
  }
}
/*-----  End of ABOUT  ------*/