/******************************************************************
Site Name: Juan Camilo Gonz&aacute;lez
Author: Juan Camilo Gonz&aacute;lez

Stylesheet: Super Large Monitor Stylesheet

******************************************************************/


/*********************
		FILMS
*********************/
table{
	font-size: 100%;
}

.entry-content {
	h2 {
    text-align: center;
    border-bottom: 1px dotted;
    width: 35%;
    margin: 0 auto 1em auto;
    padding-bottom: 0.3em;
  }
  p {
		width: 50%;
	}
}
.commentlist {
  width: 50%;
}
.single{
   .entry-footer {
    text-align: center;
   }
}

.comment-respond {
	width: 60%;
	margin: 0 auto;
}