/******************************************************************
  Site Name: JCG
  Site URI: http://juancgonzalez.com
  Author: Juan Camilo Gonzalez
  BASE STYLES
******************************************************************/
/**

  TODO:
  - Change cat colors from hard coded css to options page in wp dashboard.

**/
$wrap: 80%;
$wrap-w: 90%;
$wrap-half: 10%;

/*======================================
=            GENERAL STYLES            =
======================================*/
html,
body {
  width: 100%;
}

body {
  font-family: $sans-serif;
  font-size: 100%;
  line-height: 1.4;
  color: $text-color;
}

::-moz-selection {
  background: #dadada;
  text-shadow: none;
}

::selection {
  background: #dadada;
  text-shadow: none;
}

#container {
  height: 100%;
  min-height: 100%;
}
/*-----  End of GENERAL STYLES  ------*/

/*=============================
=            LINKS            =
=============================*/
a,
a:visited {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover;
  }

  &:link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, .3);
  }
}

.entry-tag {
  display: inline-block;
  margin: 0 .3em 1em 0;

  a,
  a:visited {
    @include transition(all .2s ease-out);
    padding: .5em;
    color: black(.9);
    background-color: black(.1);

    &:hover,
    &:focus {
      background-color: black(.8);
      color: white(.8);
    }
  }
}
/*-----  End of LINKS  ------*/

/*====================================
=            <H#> TITLES             =
====================================*/
h1,
h2,
h3,
h4,
h5, {
  font-weight: 300;
  text-rendering: optimizelegibility;

  a {
    text-decoration: none;
  }
}

h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}

h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: .375em;
}

h3 {
  font-size: 1.125em;
}

h4 {
  font-size: 1.1em;
  font-weight: 700;
}

h5 {
  font-size: .846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/*-----  End of <H#> TITLES   ------*/

/*==========================================
=            SIDEBAR NAVIGATION            =
==========================================*/
#main-sidebar {
  #logo {
    margin: 0.5em;
    text-align: center;

    a,
    a:visited {
      color: $black;
      @include transition(color 0.2s ease-in-out);

      &:hover,
      &:focus {
        color: lighten($black, 40%);
      }

      &:link {
        -webkit-tap-highlight-color: rgba(0, 0, 0, .3);
      }
    }
  }

  .nav {
    text-align: center;
    margin: 0 0 1em;

    li {
      display: inline-block;

      a, a:visited {
        @include transition(all .25s ease-in-out);
        display: block;
        text-decoration: none;
        padding: 1em;
        color: $white;
        background-color: lighten($link-color, 10%);

        &:hover,
        &:focus {
          color: $black;
          background-color: lighten($link-color, 40%);
        }

        &:link {
          -webkit-tap-highlight-color: rgba(0, 0, 0, .3);
        }
      }

      ul.sub-menu,
      ul.children {
        display: none;
      }

    }
  }
}
/*-----  End of SIDEBAR NAVIGATION  ------*/

/*====================================
=            POSTS HEADER            =
====================================*/
#description-box {
  margin: 0;
  padding: 2em;
  background-color: $black;
  color: $white;
  text-align: center;

  h1 {
    margin: 0;
  }

  .archive-title,
  .description-title {
    margin-bottom: 1em;
    font-size: 2em;
  }

  .blog-header-description {
    width: 50%;
    margin: 0 auto;
    font-size: .9em;
    text-align: left;
    padding: 1em;
    background-color: lighten($black, 70%);
    text-align: center;
  }

  .search-box {
    margin-top: 1.5em;
  }
}

.search-results,
.search-no-results {
  #description-box {
    background-color: darken($blue, 5%);
    color: #fff;
  }
}

/*==========  SEARCH  ==========*/
input[type="search"] {
  margin: 0 auto;
  max-width: 250px;
  display: inline-block;
  padding: .75em;
}

.search-submit {
  @extend .blue-btn;
}
/*-----  End of POSTS HEADER  ------*/

/*==================================
=            CATEGORIES            =
==================================*/
#categories-menu {
  margin: 0;
  padding: 0;
}

.cat-item {
  display: inline-block;
  margin-bottom: 0.3em;

  a,
  a:visited {
    @include transition(all .2s ease-out);
    padding: .5em;
    display: block;
    background-color: $black;
    color: $white;

    &:hover,
    &:focus {
      background-color: white(.8);
      color: $black;
    }
  }

  // Styles for each category
  &.cat-item-1 {
    a,
    a:visited {
      background-color: process(1);
      color: $black;

      &:hover,
      &:focus {
        background-color: process(.8);
      }
    }
  }

  &.cat-item-20 {
    a,
    a:visited {
      background-color: reference(1);
      color: $white;

      &:hover,
      &:focus {
        background-color: reference(.8);
      }
    }
  }

  &.cat-item-21 {
    a, a:visited {
      background-color: inspiration(1);
      color: $white;

      &:hover,
      &:focus {
        background-color: inspiration(.8);
      }
    }
  }
}

.category-1,
.category-process {

  #description-box {
    .blog-header-description {
      background-color: process(1);
      color: $black;
    }
  }

  .post-header {
    background-color: process(1);
  }
}

.category-20,
.category-references {

  #description-box {
    .blog-header-description {
      background-color: reference(1);
    }
  }

  .post-header {
    background-color: reference(1);
  }
}

.category-21,
.category-inspiration {

  #description-box {
    .blog-header-description {
      background-color: inspiration(1);
    }
  }

  .post-header {
    background-color: inspiration(1);
  }
}
/*-----  End of CATEGORIES  ------*/

/*=====================================
=            POSTS ARCHIVE            =
=====================================*/
#posts-list {
  margin: 0 auto;
  display: block;
  padding-top: 2em;

  .hentry {
    margin-bottom: 2em;

    section {
      padding: 0 2em;
    }

    .header-meta {
      position: absolute;
      margin: 0;
      z-index: 1;

      .post-date {
        p {
          margin: 0;
          display: inline-block;
        }

        font-size: .8em;
        text-align: left;
        background-color: black(.7);
        color: #fff;
        padding: 10px 10px;

        .post-weekday {
          letter-spacing: 1px;
        }

        .post-year {
          letter-spacing: 2px;
        }
      }

      .post-categories {
        font-size: 0.8em;
      }
    }

    .post-image {
      line-height: 0;
      z-index: -1;

      a,
      a:visited {
        @include transition(all .1s ease-out);
        opacity: 1;

        &:hover,
        &:focus {
          opacity: .8;
        }
      }

      img {
        height: auto;
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
      }

    }

    .entry-title {
      text-align: center;
      font-size: 1.5em;
      padding: 0 1.5em;
    }

    .entry-excerpt {
      margin: 0;
    }

    .entry-footer {
      font-size: .8em;
      text-align: right;
    }

    .entry-excerpt-title {
      text-align: center;
      display: block;
      padding: 0;
      margin: 1em 0 0;

      .excerpt-title {
        font-size: 1.5em;
        margin: 0;
      }
    }

  }
}

/*-----  End of POSTS ARCHIVE  ------*/

/*===================================
=            SINGLE PAGE            =
===================================*/
.page {
  .article-header {
    text-align: center;
    padding-bottom: 4em;
    background-color: darken($white, 2%);
  }

  .entry-title {
    margin: 0;
    padding: 1em 1em .2em;
  }
}


/*-----  End of SINGLE PAGE  ------*/

/*====================================
=            SINGLE POSTS            =
====================================*/
.single {
  .article-header {
    text-align: center;
    padding-bottom: 4em;
    background-color: darken($white, 2%);

    .entry-title {
      margin: 0;
      padding: 1em 1em .2em;
    }

    .article-date {
      color: lighten($black, 50%);
    }

    .author {
      font-size: 1.1em;
    }
  }

  .entry-footer {
    margin: 0 auto;
    text-align: center!important;
  }
}

#post-not-found {
  text-align: center;
}

.hentry {
  iframe {
    width: 100%;
    height: 350px;
    margin-bottom: 2em;
  }

  img {
    margin: 1.5em 0;
    width: 100%;
    height: auto;
  }

  .jcg-inline-img {
    img {
      padding: 0;
      margin: 0;
      width: initial!important;
    }
  }
}
/*-----  End of SINGLE POSTS  ------*/

/*===============================
=            CONTENT            =
===============================*/
#content {
  /*================================
  =            FIX GRID            =
  ================================*/
  // There is an invisible space when using display-block which breaks the layout that use % values for their width.
  // First sets the container font-sise to 0 to eliminate the space.
  // Then restore the font size in the sections inside.
  article.films {
    font-size: 0;

    header, section {
      font-size: 16px;
    }
  }
  /*-----  End of FIX GRID  ------*/

  .wrap {
    margin: 0 auto;
    width: 90%;
  }

  section {
    margin: 2.5em 0;
  }

  .entry-content,
  .mce-content-body {
    font-size: 1.1em;
    padding: 0;
    word-wrap: break-word;

    p {
      line-height: 1.6;
      margin: 0 auto 1em;
      width: $wrap;

      &.wp-caption-text {
        font-size: .8em;
        margin: 0 auto;
        padding: 1em 2em;
        width: 100%;
      }

    }

    img {
      max-width: 100%;
      margin: 0 0 1.5em;
      padding: 0;
      height: auto;
    }

    blockquote {
      color: lighten($black, 30%);
      font-style: italic;
      margin: 0 auto;
      padding: 2em 0;
      width: $wrap-w;

      p {
        font-size: 1.3em;
        width: 100%!important;
      }

    }

    .alignleft,
    img.alignleft {
      float: left;
    }

    .alignright,
    img.alignright {
      float: right;
    }

    .aligncenter,
    img.aligncenter {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .size-auto,
    .size-full,
    .size-large,
    .size-medium,
    .size-thumbnail {
      height: auto;
      max-width: 100%;
    }

    pre {
      background: $black;
      border-radius: 3px;
      color: $light-gray;
      font-size: .9em;
      margin: 0 0 1.5em;
      padding: 1.5em;
    }

    /*==========  IMAGE CAPTION  ==========*/
    .wp-caption {
      background: #eee;
      margin: 0 auto 1em;
      width: $wrap!important;

      img {
        margin-bottom: 0;
        padding: 0!important;
        width: 100%;
        max-width: 100%;
      }
    }

    /*==========  VIDEO  ==========*/
    video {
      height: auto!important;
      width: 100%!important;
    }

  }

}
/*-----  End of CONTENT  ------*/

/*==========  TABLES  ==========*/
table {
  margin: 0 auto;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 .3em;

  td {
    padding: 0 1em;
    vertical-align: top;

    &.festival-name {
      border-bottom: 1px dotted #ccc;
    }

    &.country {
      border: 1px dotted #ccc;
      text-align: center;
      font-size: .9em;
      vertical-align: middle;
    }
  }
}

/*=============================
=            FILMS            =
=============================*/
.type-films {
  .film-header {
    line-height: 0;
    background-color: #000;

    #video-container {
      position: relative;
      text-align: center;

      .ratio {
        width: 100%;
        height: auto;
        max-height: 589px;
        z-index: -1;
        padding: 0;
        margin: 0;
      }

      iframe {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        max-width: 1030px;
        z-index: 7999;
        padding: 0!important;
      }
    }
  }

  .film-description {
    padding: 0 1em;
    text-align: center;

    .film-title {
      margin: 0;
    }

    .film-synopsis {
      margin-top: 2em;
    }
  }

  #awards {
    text-align: center;

    .award-item {
      display: inline-table;
      font-size: .85em;
      padding: 1em;

      p,
      h1,
      h2 {
        margin: 0;
      }

      .award-item-text {
        display: table-cell;
        vertical-align: bottom;
      }

      &::before,
      &::after {
        content: '';
        display: block;
        height: 150px;
        width: 64px;
      }

      &::before {
        background: url('../images/laurel.png') 0 0 no-repeat;
        background-position: left bottom;
      }

      &::after {
        background: url('../images/laurel.png') -64px 0  no-repeat;
        background-position: right bottom;
      }
    }
  }

  .column-title {
    margin: 0 0 1em;
    padding: 0 0 .5em;
    text-align: center;
  }

}
/*-----  End of FILMS  ------*/

/*===============================
=            CONTACT            =
===============================*/
.jcg-contact-info {
  width: 100%;
  text-align: center;

  .contact-item {
    margin-right: 1em;
    &::before {
      content: '';
      vertical-align: middle;
      display: inline-block;
      width: 1.2em;
      height: 1.2em;
      margin-right: .4em;
    }
  }

  .primary-email {
    &::before {
      background: url('../images/icon-email.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100% 100%;
    }
  }

  .phone-number {
    &::before {
      background: url('../images/icon-phone.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100% 100%;
    }
  }

  #social-links {
    text-align: center;

    li {
      display: inline-block;
      margin-right: 0.1em;
    }
  }
}
/*-----  End of CONTACT  ------*/

/*=============================
=            ABOUT            =
=============================*/
.page-template-page-about {
  h2 {
    border-bottom: 1px dotted;
    padding-left: 1em;
  }

  #profile {
    background-color: $black;
    color: $white;

    #portrait {
      display: none;
    }

    #about-info {
      width: 100%;
      padding: 0 1em 1em;

      h1 {
        text-align: center;
        font-size: 2em;
      }
    }
  }

  #about-content {
    width: 90%;
    margin: 3em auto;

    #bio {
      font-size: 1.2em;
    }
  }

  table.jcg-cv-table {
    td {
      padding: 0;
    }
  }

  .jcg-cv-item {

    .jcg-cv-item-col1 {
      text-align: right;
    }

    .jcg-cv-item-col2 {
      padding-left: 1em;
      width: 86%;
    }

    p {
      margin: 0.5em 0;
    }

    .jcg-cv-item-type {
      padding-right: 0.3em;
      color: $dark-blue;
    }

    .jcg-cv-item-type-awards {
      &::before {
        content: '';
        background: url('../images/icon-badge.svg');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100% 100%;
        display: inline-block;
        width: 1.2em;
        height: 1.2em;
        margin-right: .4em;
        vertical-align: middle;
      }
    }

    .jcg-cv-item-type-awards-film-festival {
      &::before {
        background: url('../images/icon-laurel.svg');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100% 100%;
      }
    }

    .jcg-cv-item-type-awards-full-scholarship,
    .jcg-cv-item-type-awards-fellowship,
    .jcg-cv-item-type-awards-scholarship,
    .jcg-cv-item-type-awards-academic {
      &::before {
        background: url('../images/icon-academic.svg');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100% 100%;
      }
    }
  }
}
/*-----  End of ABOUT  ------*/

/*====================================
=            SOCIAL LINKS            =
====================================*/
#social-links {
  .social-icon {
    background-image: url('../images/social-logos.png');
    background-repeat: no-repeat;
    border: 0;
    color: transparent;
    display: block;
    font: 0/0 a;
    height: 50px;
    text-shadow: none;
    width: 50px;
  }

  .github {
    background-position: 0 100%;

    &:hover,
    &:focus {
      background-position: 0 0;
    }
  }

  .vimeo {
    background-position: 14.5% 100%;

    &:hover,
    &:focus {
      background-position: 14.5% 0;
    }
  }

  .facebook {
    background-position: 28.5% 100%;

    &:hover,
    &:focus {
      background-position: 28.5% 0;
    }
  }

  .flickr {
    background-position: 42.8% 100%;

    &:hover,
    &:focus {
      background-position: 42.8% 0;
    }
  }

  .linkedin {
    background-position: 57% 100%;

    &:hover,
    &:focus {
      background-position: 57% 0;
    }
  }

  .imdb {
    background-position: 71.5% 100%;

    &:hover,
    &:focus {
      background-position: 71.5% 0;
    }
  }

  .youtube {
    background-position: 85.8% 100%;

    &:hover,
    &:focus {
      background-position: 85.8% 0;
    }
  }

  .twitter {
    background-position: 100% 100%;

    &:hover,
    &:focus {
      background-position: 100% 0;
    }
  }
}
/*-----  End of SOCIAL LINKS  ------*/

/*===============================
=            CONTACT            =
===============================*/
.contact-wrapper {
  color: $white;
  background-color: $black;
}

.menu-item-contact {
  display: block;
}

.contact-aside {
  display: none;
}

/*================================
=            PAGE NAV            =
================================*/
.pagination {
  text-align: center;

  ul {
    display: inline-block;
  }

  li {
    padding: 0;
    margin: 0;
    float: left;
  }

  a,
  span {
    margin: 0;
    text-decoration: none;
    padding: 0;
    line-height: 1em;
    font-size: 1em;
    font-weight: normal;
    padding: 0.75em;
    min-width: 1em;
    display: block;
    color: $link-color;

    &:hover,
    &:focus {
      background-color: $black;
      color: $white;
    }
  }

  .current {
    cursor: default;
    color: $text-color;

    &:hover,
    &:focus {
      background-color: $white;
      color: $text-color;
    }
  }
}
/*-----  End of PAGE NAV  ------*/

/*================================
=            COMMENTS            =
================================*/
.commentlist {
  list-style-type: none;
  margin: 0 auto!important;
  padding-top: 4em;
}

.comment {
  position: relative;
  overflow: hidden;
  padding: 1.5em;

  .vcard {
    margin: 1em 1em 0 6em;

    cite.fn {
      font-style: normal;
      font-weight: 700;
    }

    time {
      display: block;
      font-size: .9em;
      font-style: italic;

      a {
        color: $meta-gray;

        &:hover {
          color: $black;
        }
      }
    }

    .avatar {
      position: absolute;
      left: 1.5em;
      top: 1.5em;
    }

  }

  &:last-child {
    margin-bottom: 0;
  }

  .children {
    margin: 0;
  }

  &[class*=depth-] {
    margin: 1.1em -1.3em 0;
  }

  &.depth-1 {
    margin-left: 0;
    margin-top: 0;
  }

  &.odd {
    background-color: darken($white, 5%);
  }

  &.even {
    background: darken($white, 2%);
  }
}

.comment_content {
  p {
    margin: 0.7335em 0 1.5em;
    font-size: 1em;
    line-height: 1.5em;
  }
}

.comment-reply-link {
  @extend .black-btn;
  float: right;
}

.comment-edit-link {
  font-style: italic;
  margin: 0 7px;
  text-decoration: none;
  font-size: .9em;
}

/*==========  COMMENTS FORM  ==========*/
#reply-title {
  margin: 0;
}

.logged-in-as {
  color: $meta-gray;
  font-style: italic;
  margin: 0;

  a {
    color: $text-color;
  }
}

.comment-form-comment {
  margin: 1.5em 0 .75em;
}

.form-allowed-tags {
  padding: 1.5em;
  background-color: $light-gray;
  font-size: .9em;
}

#submit {
  @extend .black-btn;
  float: right;
}

#comment-form-title {
  margin: 0 0 1.1em;
}

#allowed_tags {
  margin: 1.5em 10px .7335em 0;
}

.nocomments {
  margin: 0 20px 1.1em;
}
/*-----  End of COMMENTS  ------*/

/*=======================================
=            EXTRA NORMALIZE            =
=======================================*/
.jcg-video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.no-margin {
  margin: 0;
  padding: 0;
}

.jcg-fullwidth,
.jcg-fullwidth p {
  width: 100%!important;

  img {
    height: auto;
    width: 100%;
    padding: 0!important;
  }
}

.jcg-gallery {
  img {
    margin: 0!important;
    padding: 0!important;
    width: initial;
  }
}
/*-----  End of EXTRA NORMALIZE  ------*/

/*===========================
=            404            =
===========================*/
.error404 {
  background-color: yellow;

  #content {
    h1 {
      margin: 0;
      font-size: 15em;
    }

    section {
      margin: 0;
    }
  }
}
/*-----  End of 404  ------*/